body {
	background-color: #e1e1e1;
}

.wrapper {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.explainer {
	width: 60%;
	text-align: center;
	margin: 2rem auto;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 1.5rem;
	background-color: #fafafa;
}

.submitButton {
	width: 2rem;
	text-align: center;
	position: absolute;
	right: 1rem;
	top: 4rem;
	background-color: limegreen;
	font-size: x-large;
	border-radius: 50%;
	color: white;
	border: 1px solid white;
}

.demoInfo {
	width: 2rem;
	text-align: center;
	position: absolute;
	right: 1rem;
	top: 7rem;
	background-color: yellow;
	font-size: x-large;
	border-radius: 50%;
	color: black;
	border: 1px solid white;
}

.clearAll {
	width: 2rem;
	text-align: center;
	position: absolute;
	right: 1rem;
	top: 10rem;
	background-color: red;
	font-size: x-large;
	border-radius: 50%;
	color: white;
	border: 1px solid white;
}

.hidden {
	visibility: hidden;
}

.addBookContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: auto;
	padding: 2rem;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	width: 80%;
}

input {
	margin-top: .25rem;
}

.checkbox {
	display: flex;
	flex-direction: column;
	margin: .5rem auto;
	text-align: center;
}

.bookShelf {
	margin: auto;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
}

.bookBinding {
	border: 1px solid black;
	padding: 1rem;
	margin: 0 auto;
	border-radius: .25rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 5px 5px 0 lightgray;
	background-color: #fafafa;
}

.deleteButton {
	background-color: red;
	border-radius: .5rem;
}
